#videoSample{
  .videoWrapper{
    margin: 1em 0;
  }
}

#box-open, #box-closed{
	position: relative;
  display: inline-block;
  border: 0;
  box-sizing: border-box;
  height: auto;
}

#box-open{
  width: 60%;
  top: 0;
  right: 0;
  @include media-breakpoint-down(sm) {
    width: 100%;
  }
}
#box-closed{
  width: 39%;
  left: 0;
  bottom: 0;
  @include media-breakpoint-down(sm) {
    width: 70%;
    margin-left: 15%;
  }
  
}