// variables
$color1: rgba(0, 0, 0, .8);
$color2: rgba(0, 0, 0, .5);
$color3: #f5f5f5;
$alien: #A3E337;
$black8: rgba(0, 0, 0, .7);
$black5: rgba(0, 0, 0, .5);
$black3: rgba(0, 0, 0, .25);
$white7: rgba(255, 255, 255, .75);
$white5: rgba(255, 255, 255, .5);
$white3: rgba(255, 255, 255, .3); // default styling
$hunter: #660031;
$fx: #A3E337;
$vr: #C70327;
$background: #f5f5f5;
$radius: 12px;

@-webkit-keyframes pulse {
	from { opacity: 0; }
  85% {opacity: 1;}
	to { opacity: 1;}
}

@keyframes pulse {
	from { opacity: 0; }
  85% {opacity: 1;}
	to { opacity: 1;}
}

body {
	position: relative;
	color: $color2;
	/*overflow-x: hidden;*/
}

::selection {
	background: $alien;
	color: white;
}

::-moz-selection {
	background: $alien;
	color: white;
}

a {
	color: $alien;
	text-decoration: none !important;
	cursor: pointer;
	&:hover {
		text-decoration: none;
		color: lighten($alien, 15%);
	}
}

h1 a {
	color: $color2;
	&:hover {
		text-decoration: none;
		color: lighten($alien, 15%);
	}
}

img {
	max-width: 100%;
	height: auto;
}