@mixin shadow {
    box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.27), 0px 2px 3px rgba(0, 0, 0, 0.45);
}

@mixin long-transition {
    transition: .6s ease-in-out;
}

@mixin transition {
    transition: .2s ease-in-out;
}

.btn-primary {
    color: #fff;
    background-color: darken($alien, 10%);
    border-color: darken($alien, 10%);
    &:hover, &:focus{
        background-color: darken($alien, 20%);
        border-color: darken($alien, 20%);
    }
}

.btn {
    position: relative;
    height: 100%;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    border: 1px solid transparent;
    padding: .4rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: $radius * 2;
}

.global-home {
    position: fixed;
    right: 1em;
    bottom: 1em;
    width: 3em;
    height: 3em;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    height: 0;
    border-radius: $radius;
    overflow: hidden;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.apple-card {
    position: relative;
    background-position: center center;
    background-origin: border-box;
    background-size: cover;
    margin-bottom: 1em;
    height: 250px;
    max-width: 420px;
    width: 100%;
    flex: 0 1 auto;
    border-radius: $radius;
    overflow: hidden;
    @include shadow();
    .play-btn {
        width: 50px;
        height: 50px;
        position: absolute;
        top: 32%;
        left: 50%;
        margin-left: -24px;
    }
    .legenda {
        position: relative;
        bottom: 0;
        height: 50%;
        padding: 3px 24px 20px 36px;
        overflow: hidden;
        @include long-transition;
        transform: translate3d(0, 203px, 0);
        color: white;
        background-color: $black3;
        h3 {
            white-space: nowrap;
            text-overflow: ellipsis;
            margin-top: 48px;
        }
        &::before {
            content: 'toque';
            text-align: center;
            position: absolute;
            top: 24px;
            left: 0;
            width: 100%;
            font-size: .8rem;
            color: rgba(white, .5)
        }
        img {
            text-align: center;
            width: 24px;
            height: auto;
            position: absolute;
            top: 3px;
            left: 50%;
            margin-left: -12px;
            @include transition;
            animation: pulse ease-in-out 1.2s infinite;
            animation-direction: alternate;
        }
    }
    &.touched {
        .legenda {
            background: rgba(black, .7);
            transform: translate3d(0, 100%, 0);
            img {
                transform: rotate(180deg);
                animation: none;
            }
            h3 {
                margin-top: 36px
            }
            &::before {
                opacity: 0;
            }
        }
    }
}

.swipe-card {
    border-radius: $radius;
    overflow: hidden;
    margin: 0 1em;
    height: 240px;
    width: 300px;
    background-size: cover;
    background-position: center center;
    @include shadow();
    img {
        position: relative;
        opacity: 0;
        width: 100%;
        height: 100%;
    }
}

.slick-arrow {
    position: absolute;
    top: 50%;
    margin-top: -1.75em;
    height: 3.5em;
    z-index: 3;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    outline: none;
    border: 1px solid #999999;
    img {
        width: 24px;
        height: 24px;
        pointer-events: none;
    }
    &.slick-prev {
        left: 0px;
        border-radius: 0 $radius $radius 0;
        img {
            transform: rotate(-90deg);
        }
    }
    &.slick-next {
        right: 0px;
        border-radius: $radius 0 0 $radius;
        img {
            transform: rotate(90deg);
        }
    }
}

.bg-color {
    background-color: #46a1de;
    @include long-transition;
}

.text-color {
    color: #46a1de;
    transition-duration: .6s;
}

.tab__content {
    position: relative;
    width: 100%;
    >li {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: none;
        list-style: none;
        .content__wrapper {
            width: 100%;
        }
    }
}

$ratio: 5em !default;
.degrade-icons {
    ul {
        position: relative;
        padding: 0;
        margin: 0 auto;
        width: 100%;
        display: inline-flex;
        flex-wrap: nowrap;
        align-content: center;
        align-items: center;
        justify-content: center;
        li {
            width: $ratio;
            display: flex;
            margin-right: 1em;
            list-style: none;
            cursor: pointer;
            &:nth-of-type(1) {
                .caption {
                    background-color: $hunter
                }
            }
            &:nth-of-type(2) {
                .caption {
                    background-color: darken($fx, 15%);
                    margin-left: -0.4rem;
                }
            }
            &:nth-of-type(3) {
                .caption {
                    background-color: $vr;
                }
            }
            a {
                display: block;
                position: relative;
                width: 100%;
                height: 100%;
                text-align: center;
                >span.caption {
                    text-align: center;
                    color: $white7;
                    position: relative;
                    margin-left: -.25em;
                    padding: .2rem .4rem;
                    white-space: nowrap;
                    border-radius: $radius;
                    line-height: 1;
                    font-size: .82rem;
                    user-select: none;
                    top: -.8rem;
                    letter-spacing: -.025rem;
                }
            }
        }
    }
}

.wave-section {
    margin-top: 0;
    padding: 0;
    max-width: 100%;
    margin-bottom: 4rem;
    @include transition;
    .tab__content {
        margin: 0;
        padding: 0;
    }
    .wave-btn-container {
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        max-width: 100%;
        position: relative;
        svg {
            position: absolute;
            height: $ratio + .5em;
            @include media-breakpoint-down(sm) {
                display: none;
            }
        }
        .wave-bg {
            opacity: 0;
            @include transition;
            &.active {
                opacity: 1;
            }
        }
        .tabs {
            position: relative;
            padding: 0;
            margin: 0 auto;
            height: $ratio + .7em;
            width: 100%;
            display: inline-flex;
            flex-wrap: nowrap;
            align-content: center;
            align-items: center;
            justify-content: center;
            li {
                width: $ratio;
                height: $ratio;
                margin: 0 .2em;
                display: flex;
                box-sizing: border-box;
                background-color: rgba(white, .3);
                border: 1px solid rgba($alien, .3);
                border-radius: 50%;
                text-align: center;
                list-style: none;
                transition-duration: .2s;
                cursor: pointer;
                @include media-breakpoint-down(sm) {
                    width: auto;
                    min-width: $ratio;
                }
                &.active {
                    background-color: rgba($alien, .2);
                    border: 1px solid transparent;
                }
                a {
                    display: block;
                    position: relative;
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    z-index: 10;
                    color: $white7;
                    @include transition;
                    >span.caption {
                        text-align: center;
                        white-space: nowrap;
                        line-height: $ratio + 1em;
                        font-size: .85rem;
                        user-select: none;
                        letter-spacing: -.025rem;
                        color: $black5;
                    }
                }
                &:hover,
                &:focus {
                    background-color: rgba($alien, .3);
                    border: 1px solid transparent;
                }
            }
        }
    }
}

.intercall {
    flex-direction: column !important;
    background-color: white;
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    @include shadow;
    border-radius: $radius;
    .liveCombo {
        max-width: 200px;
        height: auto;
        text-align: center;
        margin: 1em;
    }
    .text-combo {
        font-size: .8rem;
        color: $black5;
        margin: 3em;
    }
    >a {
        @include transition;
        margin: .5em 0;
        width: 100%;
        max-width: 325px;
        border: .3em solid rgba(black, .05);
        border-radius: 4em;
        color: $black8;
        font-family: "walkway", sans-serif;
        font-weight: bold;
        display: block;
        position: relative;
        span {
            width: 3em;
            height: 3em;
            line-height: 3em;
            margin: -.3em 2em -.3em -.3em;
            border: .3em solid rgba(black, .07);
            display: inline-block;
            text-align: center;
            box-sizing: content-box;
            border-radius: 50%;
            color: white;
        }
        &:hover,
        &:focus {
            border: .3em solid rgba(black, .05);
            color: white;
            span {
                border-color: transparent;
            }
            &:first-of-type {
                background-color: $hunter;
            }
            &:nth-of-type(2) {
                background-color: lighten($fx, 10%);
            }
            &:nth-of-type(3) {
                background-color: $vr;
            }
        }
        &:first-of-type {
            span {
                background-color: $hunter
            }
        }
        &:nth-of-type(2) {
            span {
                background-color: lighten($fx, 10%);
            }
        }
        &:nth-of-type(3) {
            span {
                background-color: $vr
            }
        }
    }
}

.plus-container {
    position: relative;
    text-align: center;
    display: inline;
    @include media-breakpoint-up(xs) {
        width: 100%;
        height: 0;
    }
    @include media-breakpoint-up(md) {
        width: 0;
        height: 100%;
    }
}