nav.menu{
	position: fixed;
	top: 1em;
	right: 1em;
	width: auto;
	height: auto;
	z-index: 90;
	a{
		position: relative;
		display: block;
		border-radius: 50%;
		background-color: rgba(black, .7);
		img{
			width: 24px;
			height: 24px;
			margin: 12px;
		}
	}
}

body.home{
	position: relative;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: top;
	background-image: url('./images/header.jpg');
	@include media-breakpoint-down(sm) {
		background-image: url('./images/header-iphone.jpg');
		overflow: hidden;
		background-attachment: scroll;
	}
}
header.home{
	position: relative;
	height: 100%;
	height: 100vh;
	width: 100%;
	border: none;
	margin: 0;

	.logo{
		display: block;
		margin: auto;
		position: relative;
		top: 25%;
		top: 25vh;
	}
	.degrade-icons{
		position: absolute;
		bottom: 100px;
		width: 100%;
	}
}

header#headerVR {
	color: #191919;
	height: 60vh;
	background-color: #fafafa;
	background-image: url('./images/vr/vrGuy.png');
	background-position: bottom right;
	background-size: contain;
	background-repeat: no-repeat;
	.lead{
		text-align: left;
		padding: 1rem;
		width: 45%;
		min-width: 300px;
		max-width: 680px;
		margin-left: 10%;
		box-sizing: border-box;
	}
	@include media-breakpoint-down(sm) {
		background-size: auto 280px;
		height: auto;
		background-attachment: scroll;
		.lead{
			width: 95%;
			margin: 2.5%;
			margin-top: 1.5em;
			margin-bottom: 290px;
			p{font-size: 1rem; margin-top: 1em;}
		}
	}
}
header#headerVR2 {
	color: #191919;
	height: 60vh;
	background-color: #fafafa;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	.lead{
		text-align: left;
		padding: 1rem;
		width: 45%;
		min-width: 300px;
		max-width: 680px;
		margin-left: 10%;
		box-sizing: border-box;
	}
	@include media-breakpoint-down(sm) {
		.lead{
			width: 95%;
			margin: 2.5%;
			margin-top: 1.5em;
			margin-bottom: 290px;
			p{font-size: 1rem; margin-top: 1em;}
		}
	}
}

header#headerFX {
	position: relative;
	height: 70%;
	height: 70vh;
	width: 100%;
	border: none;
	margin: 0;
	background-color: black;
	color: white;
	@include media-breakpoint-down(sm) {
		background-attachment: scroll;
		background-image: url('./images/fx/fxSM.jpg');
		animation: none;
		background-size: cover;
		background-position: center center;
		opacity: 1;
		.swipe{animation: none;}
	}
	.lead{
		z-index: 1;
		margin-top: -120px;
	}
}
header#headerFX2 {
	position: relative;
	height: 70%;
	height: 70vh;
	width: 100%;
	border: none;
	margin: 0;
	background-color: black;
	@include media-breakpoint-down(sm) {
		background-attachment: scroll;
		animation: none;
		background-size: cover;
		background-position: center center;
	}
	color: white;
	.lead{
		z-index: 1;
		margin-top: -120px;
	}
}

.swipe {
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-animation: flash ease-out 6s infinite;
	-moz-animation: flash ease-out 6s infinite;
	animation: flash ease-out 6s infinite;
	@include media-breakpoint-down(sm) {
		background-attachment: scroll;
	}
}

@-webkit-keyframes flash {
	from { opacity: 0; }
	33% { opacity: 1; }
	66% { opacity: 0; }
	to { opacity: 0;}
}

@keyframes flash {
	from { opacity: 0; }
	33% { opacity: 1; }
	66% { opacity: 0; }
	to { opacity: 0;}
}
.fx1{
	animation-delay: 0;
	opacity: 1;
	@media screen and (max-width: 1360px){
		background-image: url('./images/fx/fxMD.jpg');
	}
	@media screen and (min-width: 1361px){
		background-image: url('./images/fx/fxHD.jpg');
	}
	@media screen and (max-width: 720px){
		display: none;
	}
}
.fx2{
	opacity: 0;
	animation-delay: 2s;
	@media screen and (max-width: 1360px){
		background-image: url('./images/fx/fxhue1MD.jpg');
	}
	@media screen and (min-width: 1361px){
		background-image: url('./images/fx/fxhue1HD.jpg');
	}
	@media screen and (max-width: 720px){
		display: none;
	}
}
.fx3{
	opacity: 0;
	animation-delay: 4s;
	@media screen and (max-width: 1360px){
		background-image: url('./images/fx/fxhue2MD.jpg');
	}
	@media screen and (min-width: 1361px){
		background-image: url('./images/fx/fxhue2HD.jpg');
	}
	@media screen and (max-width: 720px){
		display: none;
	}
}