/******************************************************************************\
	Settings
\******************************************************************************/

@font-face {
    font-family: 'walkway';
    src: url('./fonts/walkway/walkway.eot');
    src: url('./fonts/walkway/walkway.eot?#iefix') format('embedded-opentype'),
         url('./fonts/walkway/walkway.woff') format('woff'),
         url('./fonts/walkway/walkway.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

// Variables
$base-font: 'Heebo',
'Open Sans',
'Roboto',
'Helvetica Neue',
sans-serif;
$header-font: 'Heebo',
'Open Sans',
'Roboto',
'Helvetica Neue',
sans-serif;
$base-line-height: 1.4;
$base-font-size: 16px;
// Set standard font sizes in media querys
html {
    font-size: $base-font-size;
}

// Font size mixin for REM output with PX fallback
@mixin font-size($size) {
    font-size: $size * $base-font-size;
    font-size: #{$size}rem;
}

// Top margin mixin for REM output with PX fallback
@mixin leading-rows($size: 1) {
    margin-top: $size * $base-line-height * 1rem;
}

// Bottom margin mixin for REM output with PX fallback
@mixin trailing-rows($size: 1) {
    margin-bottom: $size * $base-line-height * 1rem;
}


/******************************************************************************\
	Standard font styling
\******************************************************************************/

body {
    font-family: $base-font;
    line-height: $base-line-height;
    font-weight: 400;
}

em,
i {
    font-style: italic;
    line-height: inherit;
}

strong,
b {
    font-weight: bold;
    line-height: inherit;
}

p,
ul,
ol {
margin: 0;
}

blockquote {
    position: relative;
    &:before {
        display: block;
        float: left;
        content: "\"";
        @include font-size(2.5);
        margin: 0 15px 15px 0;
    }
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
h5,
h6 {
    font-family: $header-font;
    line-height: 1.2;
    margin: 0;
}

h1.display {
    font-weight: 100;
    @include font-size(2.5);
    font-size: 5vw;
    text-transform: none !important;
    @media screen and (max-width: 840px) {
      font-size: 14vw;
    }
}

h1 {
    @include font-size(2.5);
    font-weight: lighter;
    &.h1 {
        @include leading-rows(1);
        @include trailing-rows(1);
        text-transform: uppercase;
    }
}

h2 {
    @include font-size(1.8);
    &.h2 {
        @include leading-rows(1);
        @include trailing-rows(1);
        text-transform: uppercase;
    }
}

h3 {
    @include font-size(1.1);
    text-transform: uppercase;
    &.h3 {
        @include leading-rows(1);
        @include trailing-rows(1);
    }
}

h4,
h5,
h6 {
    @include font-size(1);
}

h2,
h3 {
    page-break-after: avoid;
}

p,
h2,
h3 {
    orphans: 3;
    widows: 3;
}

p~h1 {
    @include leading-rows(2);
}